.popup__button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  margin-top: 0;
  border: none;
  outline: none;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  cursor: pointer;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.popup__button:hover {
  opacity: .8;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .popup__button {
    margin-top: 36px;
    width: 200px;
    height: 40px;
  }
}
