.profile__name {
  margin: 0;
  max-width: 95%;

  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;

  display: inline-block;

  position: relative;
  z-index: 1;
  word-wrap: break-word;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    margin: auto auto;
  }
}
