.popup__caption {
    width: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;

    grid-area: caption;

    margin: 10px 0 0;
}