.profile__edit-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-color: black;
  margin-left: 20px;

  cursor: pointer;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;

  outline: none;
  background-image: url(../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: 2;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 0;
    justify-self: center;
    margin-left: 0;
  }
}
