@import url(./__info/element__info.css);
@import url(./__like-button/element__like-button.css);
@import url(./__photo/element__photo.css);
@import url(./__title/element__title.css);
@import url(./__likes/element__likes.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./__delete-button/_visible/element__delete-button_visible.css);

.element {
  background: #FFFFFF;
  border-radius: 10px;

  overflow: hidden;

  position: relative;
}
