.profile__add-button {
  height: 50px;
  width: 100%;
  margin: auto;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;

  background-color: black;

  cursor: pointer;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;

  outline: none;

  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: 2;
}

.profile__add-button:hover {
  opacity: .6;
}
