.popup__input {
  width: 100%;
  padding-bottom: 16px;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
  outline: none;
  margin-top: 30px;
  font-family: Inter;
  height: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:first-of-type {
  margin: 0;
}

.popup__input:last-of-type {
  margin-bottom: 55px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .popup__input {
    padding-bottom: 10px;
  }
}
