@import url(./__logo/header__logo.css);

.header {
  width: 70%;
  height: 75px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    width: 80%;
    height: 60px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 55px;
    width: 100%;
    padding-top: 25px;
  }
}
