@import url(./__button/popup__button.css);
@import url(./__button/disabled/popup__button_disabled.css);
@import url(./__form-block/popup__form-block.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__title/popup__title.css);
@import url(./__close-btn/popup__close-btn.css);
@import url(./__content/popup__content.css);
@import url(./__caption/popup__caption.css);
@import url(./__image-block/popup__image-block.css);
@import url(./__image/popup__image.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__form/_confirm/popup__form_confirm.css);

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
  z-index: 5;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}
